:root {
  --color-primary: #0d47a1;
  --color-primary-dark: #1e255e;
  --color-primary-dark-2: #001847;
  --color-secondary: #ffc107;
  --color-secondary-dark: #e6ac00;
  --color-white: #f8f8f8;
  --text-body-primary: #111;
  --text-body-secondary: #7a8a99;
  --text-body-tertiary: #f8f8f8;
  --hr-stroke-color: rgba(209, 213, 219, 0.5);
  --bg-light-gray: #e9ecef;
  --bg-light-gray-2: #e0e0e0;
  --bg-white: #f8f8f8;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Black.ttf) format("truetype"),
    url(../assets/fonts/Montserrat-Italic.ttf) format("truetype"),
    url(../assets/fonts/Montserrat-Light.ttf) format("truetype"),
    url(../assets/fonts/Montserrat-Medium.ttf) format("truetype"),
    url(../assets/fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
  font-size: normal;
}

/*--- Global Styles----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--text-body-primary);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 84px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 2rem; /*32px*/
  font-weight: 700;
  line-height: 48px;
}

h4 {
  font-size: 1.5rem; /*24px*/
  font-weight: 700;
  line-height: 36px;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

p {
  font-size: 1rem; /*16px*/
  font-weight: 400;
  line-height: 24px;
}

span {
  font-size: 1rem; /*16px*/
  font-weight: 100;
  line-height: 24px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*--- Header ---*/
header {
  min-height: 80px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  /* sticky*/
  position: sticky;
  top: 0;
  z-index: 100;
}

/* logo */
.logo-markethub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-markethub__img {
  height: 50px;
  width: auto;
}

/*nav*/
.nav {
  display: flex;
  flex: wrap;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav__item {
  padding: 5px 20px;
  font-weight: 600;
  color: var(--color-primary);
}

.nav__link {
  color: var(--color-white);
}

.nav__link:hover {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .header {
    height: 60px;
  }
  .logo-markethub__img {
    height: 30px;
    width: auto;
  }
  .nav__item {
    padding: 5px 8px;
  }
}

/*shopping*/
.shopping {
  display: flex;
  align-items: center;
  position: relative;
}

.shopping__icon {
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

.shopping__number-products {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  right: -10px;
  top: -4px;
  background-color: #ffc107;
  border-radius: 10px;
}

.shopping__products-count {
  position: absolute;
  top: -2px;
  right: 5px;
  color: var(--text-body-primary);
  font-size: 14px;
}

/*--- Hero section ---*/
.hero {
  height: calc(100vh - 80px);
  background-image: url(../assets/images/banner-main-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  align-items: center;
}

.hero-content__title {
  color: var(--color-primary-dark);
  text-align: center;
}
.hero-content__title--highlight {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.hero-content__paragraph {
  color: var(--text-body-secondary);
}
@media (max-width: 1024px) {
  .hero {
    height: calc(100vh - 60px);
    width: auto;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../assets/images/banner-main-bg.png);
    background-position: 80% 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    color: var(--color-white);
  }

  .hero-content {
    width: 100%;
  }

  .hero-content__title,
  .hero-content__paragraph {
    color: var(--text-body-tertiary);
  }
}

/*--- button ---*/
.btn {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--primary {
  color: var(--text-body-tertiary);
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: var(--color-primary-dark-2);
}

.btn--secondary {
  color: var(--text-body-primary);
  background-color: var(--color-secondary);
}

.btn--secondary:hover {
  background-color: var(--color-secondary-dark);
}

.btn--medium {
  width: 100px;
  height: 40px;
}

.btn--large {
  width: 200px;
  height: 50px;
}

.btn--full-width {
  width: 100%;
  height: 40px;
}

/* --- footer --- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-primary);
  padding: 16px 24px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  gap: 12px;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__hr {
  border: 1px solid var(--hr-stroke-color);
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
  color: var(--text-body-tertiary);
}

@media (max-width: 1024px) {
  .footer__content {
    flex-direction: column;
    gap: 16px;
  }
}

.products-content {
  background-color: var(--bg-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/**--- section search ---*/
.search {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.search__title {
  text-align: center;
}
.search__paragraph {
  color: var(--text-body-secondary);
}

.search__input {
  border-radius: 25px;
  border: 2px solid var(--color-primary);
  width: 100%;
  height: 40px;
  padding: 5px;
  text-indent: 36px;
  background-image: url(../assets/icons/search-icon.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 1rem center;
}

@media (max-width: 768px) {
  .search {
    width: 80%;
  }
}

/*filter section and number results*/
.filter {
  width: 100%;
  padding: 0 24px 24px 24px;
  display: flex;
  justify-content: space-between;
}

.filter__result-text,
.category__label {
  font-size: 1.25rem;
  font-weight: 500;
}

.filter__result-number {
  font-size: 1.25rem;
}

.filter__input {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .filter {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }
}

/*--- product cards --- */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.card {
  background-color: var(--bg-white);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px 20px;
}

.card__figure {
  margin: auto;
}

.card__img {
  height: 150px;
}

.card__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.card__brand {
  color: var(--color-text-secondary, #7a8a99);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.card__pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 4px;
}

.card__price {
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 4px;
}
.card__price-label,
.card__price-value {
  flex: 1;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

/* pill */
.pill {
  border-radius: 4px;
  background: var(--bg-light-gray-2);
  display: inline-block;
  padding: 4px;
}

.pill__text {
  color: var(--text-body-secondary);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
