.logo-markethub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-markethub__img {
  height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  .logo-markethub__img {
    height: 30px;
    width: auto;
  }
}
