.login {
  padding: 40px 16px;
}

.login__container {
  padding: 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-elevated);
  height: 500px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login__title {
  text-align: center;
  padding: 16px;
}
