.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.login-form__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form__btn-forgot {
  display: flex;
  justify-content: end;
}
