.order-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.order-summary__title {
  text-align: left;
}
.order-summary__paragraph {
  color: var(--text-body-secondary);
}
