:root {
  --color-primary: #0d47a1;
  --color-primary-dark: #1e255e;
  --color-primary-dark-2: #001847;
  --color-secondary: #ffc107;
  --color-secondary-dark: #e6ac00;
  --color-white: #f8f8f8;
  --color-dark: #111;
  --text-body-primary: #111;
  --text-body-secondary: #7a8a99;
  --text-body-tertiary: #f8f8f8;
  --hr-stroke-color: rgba(209, 213, 219, 0.5);
  --stroke-color: #d9d9d9;
  --border-gray: #a9a9a9;
  --border-medium-gray: #a6a6a6;
  --bg-light-gray: #e9ecef;
  --bg-light-gray-2: #e0e0e0;
  --bg-light-gray-3: #d3d3d3;
  --bg-white: #f8f8f8;
  --shadow-soft: 0 0 5px rgba(0, 0, 0, 0.2);
  --shadow-elevated: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "Montserrat";
  src:
    url(./assets/fonts/Montserrat-Black.ttf) format("truetype"),
    url(./assets/fonts/Montserrat-Italic.ttf) format("truetype"),
    url(./assets/fonts/Montserrat-Light.ttf) format("truetype"),
    url(./assets/fonts/Montserrat-Medium.ttf) format("truetype"),
    url(./assets/fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
  font-size: normal;
}

/*--- Global Styles----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--text-body-primary);
  background-color: var(--bg-light-gray);
}

main {
  min-height: 500px;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 84px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 2rem; /*32px*/
  font-weight: 700;
  line-height: 48px;
}

h4 {
  font-size: 1.5rem; /*24px*/
  font-weight: 700;
  line-height: 36px;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

p {
  font-size: 1rem; /*16px*/
  font-weight: 400;
  line-height: 24px;
}

span {
  font-size: 1rem; /*16px*/
  font-weight: 100;
  line-height: 24px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
